/FruitShop/nbproject/private/
/FruitShop/build/
/Matrix/nbproject/private/
/Matrix/build/
/Matrix/dist/
/File_CSV/nbproject/private/
/File_CSV/build/
/demo_CSV/nbproject/private/
/demo_CSV/build/
/Expenses/nbproject/private/
/Expenses/build/
/StudentManager/nbproject/private/
/StudentManager/build/
/J1.S.P0071/nbproject/private/
/J1.S.P0071/build/
/LinearSearch/nbproject/private/
/LinearSearch/build/
/BinarySearch/nbproject/private/
/BinarySearch/build/
/Graph/nbproject/private/
/Graph/build/